<div class='mt-4'>
  <form method='GET' action='/news'>
    <div class='form-group'>
      <label for='search-input'>Từ khóa</label>
      <input
        name='q'
        type='text'
        id='search-input'
        class='form-control'
        placeholder='Nhập từ khóa...'
      />
    </div>

    <button type='submit' class='btn btn-primary mt-3'>Tìm kiếm</button>
  </form>
</div>